extends ../layout
block head
    link(rel='stylesheet', href='/stylesheets/sticky-footer-navbar.css')
block navbar
    include ../_navbar
block content
  .container.col-xs-12.col-md-8
    .row
      .page-header
        h1 My Profile
    .row
      .col-xs-6.col-md-4
        .panel.panel-default
          if user.displayname
            .panel-heading #{app.locals.checkDef(app.locals.checkDef(user.displayname))}
          else
            .panel-heading #{app.locals.checkDef(app.locals.checkDef(user.username))}
          .panel-body
            p Provider: #{app.locals.checkDef(app.locals.checkDef(user.provider))}
            p ID: #{app.locals.checkDef(app.locals.checkDef(user.id))}
            if user.displayname
              p Display Name: #{app.locals.checkDef(app.locals.checkDef(user.displayname))}
            p User Name: #{app.locals.checkDef(app.locals.checkDef(user.username))}
        if user.photos
          .panel.panel-default
            .panel-heading Photos
            .panel-body
              ul.list-inline
                for photo in user.photos
                  li
                    img(src="#{app.locals.checkDef(app.locals.checkDef(photo.value))}").img-thumbnail
      .col-xs-6.col-md-4
        .panel.panel-default
          .panel-heading Primary Email: #{app.locals.checkDef(app.locals.checkDef(user.email))}
          .panel-body
            ul
              for email in user.emails
                li #{app.locals.checkDef(app.locals.checkDef(email.value))} (#{app.locals.checkDef(app.locals.checkDef(email.type))})
              else
                li No additional Addresses
        .panel.panel-default
          .panel-heading Account Groups
          .panel-body
            ul
              for group in user.groups
                li= group
              else
                li No Groups Memberships
