extends ../layout
block head
  link(rel='stylesheet', href='/stylesheets/bootstrap-sortable.css')
block navbar
block content
  .container
    .page-header
      h1 Service Failure List (Last #{app.locals.checkDef(app.locals.checkDef(hoursAgo))} hours)
    .container
      table.table.table-condensed.sortable
        thead
          tr
            th Hostname
            th Timestamp
            th Status
            th Message
        tbody
          each failure in failures
            tr
              td #{app.locals.checkDef(app.locals.checkDef(failure.certname))}
              td #{app.locals.checkDef(app.locals.checkDef(getFormattedISO8601(failure.timestamp)))}
              td #{app.locals.checkDef(app.locals.checkDef(failure.status))}
              td #{app.locals.checkDef(app.locals.checkDef(failure.message))}
block footer
