extends ../layout
block head
  link(rel='stylesheet', href='/stylesheets/dataTables.bootstrap.css')

block content
    .page-header
      h1 Device List
    .container
      #navTabs.ul.nav.nav-tabs
        each group,group_id in device_types
          if group_id != 0
            li
              a(href="#groupid_#{app.locals.checkDef(group.devtype_group_id)}", data-toggle="tab") #{app.locals.checkDef(group.name)}

      .tab-content
        each group,group_id in device_types
          if group_id != 0
            .tab-pane(id="groupid_#{app.locals.checkDef(group.devtype_group_id)}").active
                table(id="tableid_#{app.locals.checkDef(group.devtype_group_id)}").table.table-condensed.table-striped
                  thead
                    tr
                      th ID
                      th Type
                      th Description
                      th Company
                      th Location
                      th Status
                  tbody
#                    each device,device_id in devices
#                      if device.devtype_group_id == group.devtype_group_id
#                        tr
#                          td
#                            a(href="/ubersmith/devices/#{app.locals.checkDef(device.dev)}") #{app.locals.checkDef(device.dev)}
#                          td #{app.locals.checkDef(device.type)}
#                          td #{app.locals.checkDef(device.dev_desc)}
#                          td #{app.locals.checkDef(device.company)}
#                          td #{app.locals.checkDef(device.location)}
#                          td #{app.locals.checkDef(device.device_status)}
#                            br
#                            span.label.label-primary #{app.locals.checkDef(device.total)}
#                            span.label.label-danger #{app.locals.checkDef(device.down)}
#                            span.label.label-warning #{app.locals.checkDef(device.warn)}
#                            span.label.label-success #{app.locals.checkDef(device.up)}
#                            span.label.label-default #{app.locals.checkDef(device.disabled)}

block footer
  script(src='/javascripts/jquery.dataTables.min.js')
  script(src='/javascripts/dataTables.bootstrap.js')
  each group,group_id in device_types
    if group_id != 0
        script(type='text/javascript').
          $('#groupid_#{app.locals.checkDef(group.devtype_group_id)} a').click(function (e) {
            if($(this).parent('li').hasClass('active')){
              $( $(this).attr('href') ).hide();
            }
            e.preventDefault()
            $(this).tab('show')
          })

        script(type='text/javascript').
          $(document).ready(function() {
            $('#tableid_#{app.locals.checkDef(group.devtype_group_id)}').dataTable( {
              "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
              "sPaginationType": "bootstrap",
              "sAjaxSource": '/ubersmith/devices/list/#{app.locals.checkDef(group.devtype_group_id)}',
              "iDisplayLength": 10,
              "bSortClasses": false,
              "aoColumns": [
              {
                "mData": "device",
                "mRender": function (device) {
                            return '<a href="/ubersmith/devices/'+device+'">' + device + '</a>';
                          }
              }, {
                "mData": "type"
              }, {
                "mData": "desc"
              }, {
                "mData": "company"
              }, {
                "mData": "location"
              }, {
                "mData": "status"
              }],
              "aaSorting": [[4,'asc']],
              "oLanguage": {
                "sLengthMenu": "_MENU_ records per page"
              }
            });
          });       
  script(type='text/javascript').
    $('#navTabs a:first').tab('show')
